@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="text-center">
    <h2 class="display-4"><a href="Loans/Loans">Loan Products</a></h2>
</div>
<div class="text-center">
    <h2 class="display-4"><a href="#">My Loans</a></h2>
</div>