@model LoanApplicationModel

@{
    ViewData["Title"] = "Loan Application Form";
}

<div class="container mt-5">
    <div class="card shadow-lg p-4 rounded">
        <h3 class="mb-4 text-primary text-center">Loan Application Form</h3>

        <form asp-action="LoanApplicationFormRegister"post">
            <input type="hidden" asp-for="LoanProductId" />
            <div class="mb-3">
                <label asp-for="LoanProduct.Name" class="form-label">Loan Product</label>
                <input asp-for="LoanProduct.Name" class="form-control" readonly />
                <span asp-validation-for="LoanProduct.Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="FirstName" class="form-label">First Name</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text=danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="LastName" class="form-label">Last Name</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text=danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text=danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="DateOfBirth" class="form-label">Date of Birth</label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text=danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Occupation" class="form-label">Occupation</label>
                <input asp-for="Occupation" class="form-control" />
                <span asp-validation-for="Occupation" class="text=danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="NetIncome" class="form-label">Net Income</label>
                <input asp-for="NetIncome" class="form-control" />
                <span asp-validation-for="NetIncome" class="text=danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="PhoneNumber" class="form-label">Phone</label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text=danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="HomeTown" class="form-label">Home Town</label>
                <input asp-for="HomeTown" class="form-control" />
                <span asp-validation-for="HomeTown" class="text=danger"></span>
            </div>
            

            <div class="mb-3">
                <label asp-for="RequestedAmount" class="form-label">Requested Amount</label>
                <input asp-for="RequestedAmount" class="form-control" />
                <span asp-validation-for="RequestedAmount" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="ProcessingFee" class="form-label">Processing Fee</label>
                <input asp-for="ProcessingFee" class="form-control" />
                <span asp-validation-for="ProcessingFee" class="text-danger"></span>
            </div>

            @* <div class="mb-3">
                <label asp-for="LatePaymentPenalty" class="form-label">Late Payment Penalty</label>
                <input asp-for="LatePaymentPenalty" class="form-control" />
                <span asp-validation-for="LatePaymentPenalty" class="text-danger"></span>
            </div> *@

            <div class="mb-3">
                <label asp-for="RepaymentPeriodMonths" class="form-label">Repayment Period</label>
                <input asp-for="RepaymentPeriodMonths" class="form-control" />
                <span asp-validation-for="RepaymentPeriodMonths" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="MaturityDate" class="form-label">Due Date</label>
                <input asp-for="MaturityDate"
                    class="form-control"
                    value="@Model.MaturityDate.ToString("dd-MMM-yyyy")"
                    readonly />
                <span asp-validation-for="MaturityDate" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Purpose" class="form-label"></label>
                <textarea asp-for="Purpose" class="form-control" rows="2"></textarea>
                <span asp-validation-for="Purpose" class="text-danger"></span>
            </div>

            @if (Model.RequiresCollateral)
            {
                <div class="mb-3">
                    <label asp-for="CollateralDetails" class="form-label">Collateral Details</label>
                    <textarea asp-for="CollateralDetails" class="form-control" rows="2"></textarea>
                    <span asp-validation-for="CollateralDetails" class="text-danger"></span>
                </div>
            }

            @* <div class="mb-3">
                <label asp-for="Status" class="form-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div> *@

            <div class="mb-3">
                <label asp-for="ApplicationDate" class="form-label">Application Date</label>
                <input type="date" asp-for="ApplicationDate" class="form-control" readonly />
            </div>

            <div class="mb-3">
                <label asp-for="ProcessedBy" class="form-label">Processed By</label>
                <input asp-for="ProcessedBy" class="form-control" readonly />
            </div>

            <button type="submit" class="btn btn-success w-100"
                    onclick="return confirm('Are you sure you want to apply for this loan?')">
                Submit Application
            </button>
        </form>
    </div>
</div>
