// This page is meant for finace officers.
// They can track current balances, active loanees, defaulters, approve/reject loans

<p>This page is meant for finace officers</p>
<p>They'll  able to conduct various roles here,admins have access too</p>