@model LoanProductsViewModel;

<h3>Loan Products Details</h3>
<div class="loan-grid">
    @foreach (var loan in Model.loanProducts)
    {
        <div class="loan-card">
            <h5>@loan.Name</h5>
            <p><strong>Principal Max:</strong> Ksh@loan.PrincipalAmountMax</p>
            <button class="btn-details">Apply</button>
        </div>
    }
</div>